/* RESETS */
*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: auto;
    margin-right: auto;
}
/* FONTS */
p,a,li,h1,h2,h3,h4{
    font-family: 'Source Sans Pro', sans-serif;
}
/* HEADER */
.header-default{

}
/* NAV BAR */
.nav-default{

}
/* FOOTER BAR */
.footer-default{
    
}